# Root EditorConfig file
root = true

# Match all files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Match PHP files
[*.php]
indent_style = space
indent_size = 4

# Match JSON files
[*.json]
indent_style = space
indent_size = 2

# Match Markdown files
[*.md]
trim_trailing_whitespace = true

# Match YAML files
[*.yml]
indent_style = space
indent_size = 2

# Match Blade template files
[*.blade.php]
indent_style = space
indent_size = 4